body {
    margin: 0;
    padding: 0;

}
.Header {
    position: fixed;
    background-color: #56B4D3;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1px;
    z-index: 100;
}
.Header__link {
    color: rgb(126, 111, 111);
    padding-top: 15px;
    text-align: center;
    height: 40px;
    text-decoration: none;
    border: 1px solid black;
    flex-grow: 1;
}
main {
    margin-top: 42px;
    position: absolute;
    padding:10px 10px 0 160px;
    background: linear-gradient(45deg, #348F50, #56B4D3);
}
td {
    border: 1px solid black;

}
.Border {
    border-bottom: 1px solid black;
}
.menu {
    margin-top: 57px;
    position: fixed;
    width: 150px;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 21%, rgba(25,190,236,1) 92%, rgba(0,212,255,1) 100%);
}
.menu__link {
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 30px;
    color:#56B4D3;
}
.Width {
    width: 100%;
    padding-left: 10px;
}
.onCin {
    width: 100%;
}
.Rew {
    height: 100%;
}